{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2 class="mb-4">Choisissez une filière</h2>

<div class="row">
    {% if filieres %}
        {% for filiere in filieres %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <!-- Le lien englobe la carte pour la rendre cliquable -->
                <a href="{% url 'app:matiere' slug=filiere.slug %}" class="text-decoration-none text-dark">
                    <!-- Affichage de l'image de la filière -->
                    <div class="card-img-container" style="width: 100%; height: 200px; overflow: hidden;">
                        {% if filiere.img %}
                        <img src="{{ filiere.img.url }}" class="card-img-top" alt="{{ filiere.nom }}" style="width: 100%; height: 100%; object-fit: cover;">
                        {% else %}
                        <img src="{% static 'images/default.jpg' %}" class="card-img-top" alt="{{ filiere.nom }}" style="width: 100%; height: 100%; object-fit: cover;">
                        {% endif %}
                    </div>
                    
                    <div class="card-body">
                        <h5 class="card-title">{{ filiere.nom }}</h5>
                        <p class="card-text">{{ filiere.description|truncatewords:20 }}</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'app:matiere' slug=filiere.slug %}" class="btn btn-primary">Voir les matières</a>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>Aucune filière disponible.</p>
    {% endif %}
</div>
{% endblock %}
